<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Wikkid</title>
  <style media="screen, print" type="text/css">
   @import url(/static/default.css)
  </style>
  {% endblock %}
</head>
<body>
  <div id="header">
    <div id="user">
      {% if view.user %}
      {{ view.user.display_name }}
      <img class="gravatar" src="{{ view.user.gravatar }}" />
      {% else %}
      Login...
      {% endif %}
    </div>
    <span class="wikkid">Wikkid</span>

  </div>
  <div id="location">
    <div id="commands">{% block commands %}{% endblock %}</div>
{% for crumb in view.breadcrumbs %}
  {% if loop.last %}
    <span class="crumb">{{ crumb.title }}</span>
  {% else %}
    <a href="{{ crumb.path }}" class="crumb">{{ crumb.title }}</a> &raquo;
  {% endif %}
{% endfor %}

  </div>
  <div id="content">{% block content %}{% endblock %}</div>
  <div id="footer">
    &copy; 2010
    <a href="https://launchpad.net/~wikkid">Wikkid Developers</a>,
    All rights reserved.
  </div>
</body>
</html>
