{% extends "base.html" %}
{% block title %}{{ view.title }}{% endblock %}
{% block content %}

{% for dir in view.directories %}
<div class="directory">{{ dir.base_name }}</div>
{% endfor %}

{% for f in view.files %}
<div class="file">{{ f.base_name }}</div>
{% endfor %}

<div style="padding-top:2em">
<p>context.path = {{ context.path }}</p>
<p>context.title = {{ context.title }}</p>
</div>

{{ view.content }}

{% endblock %}
{% block commands %}
{% if view.user %}
TODO: Add page here?
{% endif %}
{% endblock %}
