{% extends "base.html" %}
{% block title %}{{ view.title }}{% endblock %}
{% block content %}

<table>
{% for item in view.items %}
<tr class="{{ loop.cycle('odd', 'even') }}">
  <td>
    <a href="{{ item.url }}">{{ item.name }}</a>
  </td>
</tr>
{% endfor %}
</table>

<div style="padding-top:2em">
<p>context.path = {{ context.path }}</p>
<p>context.title = {{ context.title }}</p>
</div>

{{ view.content }}

{% endblock %}
{% block commands %}
{% if view.user %}
TODO: Add page here?
{% endif %}
{% endblock %}
