{% extends "base.html" %}
{% block title %}{{ view.title }}{% endblock %}
{% block content %}
{% if view.message %}
<div class="message">{{ view.message }}</div>
{% endif %}
<form method="post" action="{{ view.request_path }}">
  <textarea name="content">{{ view.content }}</textarea>
  Describe the change: <input type="text" name="message" value=""/>
  {% if view.rev_id %}
  <input type="hidden" name="rev-id" value="{{ view.rev_id }}"/>
  {% endif %}
  <div>
  <input type="Submit" name="action" value="save" />
  or <a href="{{ view.cancel_url }}">Cancel</a>
  </div>
</form>
{% endblock %}
