{% extends "base.html" %}
{% block title %}{{ view.title }}{% endblock %}
{% block content %}

<p>The page you are looking for isn't here.<p>

<p><a href="{{ canonical_url(context, 'edit') }}">
  Create a new page: {{ view.title }}
</a></p>

<p><a href="{{ canonical_url(context.root_resource, 'listing') }}">
  Browse the wiki content
</a></p>

{% endblock %}
{% block commands %}
{% if view.user %}
<a href="{{ canonical_url(context, 'edit') }}">Edit</a>
{% endif %}
{% if context.get_dir_name %}
<a class="command" href="{{ canonical_url(context.root_resource, 'listing') }}">Browse</a>
{% endif %}
{% endblock %}
