{% extends "base.html" %}
{% block title %}{{ view.title }}{% endblock %}
{% block content %}{{ view.content }}
{% endblock %}
{% block commands %}
{% if view.user %}
<a class="command" href="{{view.request_path}}/+edit">Edit</a>
{% endif %}
{% if context.dir_name %}
<a class="command" href="{{context.dir_name}}/+listing">Browse</a>
{% else %}
<a class="command" href="{{request.application_url}}/+listing">Browse</a>
{% endif %}
{% endblock %}
{% block footer %}
<p class="last-edit">Last edited by <strong title="{{view.last_modified_by.committer_id}}">{{ view.last_modified_by.display_name }}</strong>
    on {{ view.last_modified_date }}</p>
{% endblock %}
