/* ---------------------------------------
Reset browser defaults & General styling
--------------------------------------- */
html, body, form, fieldset, legend, h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, li, address, img {
    margin:0;
    padding:0;
}
body {
    font:normal normal 1em/normal sans-serif;
    color:#000;
    background:#f6f6f6;
}
a:link, a:visited, a:hover, a:focus, a:active {
    color:#1a7bbe;
    outline:none;
}
textarea{
    overflow:auto;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img, fieldset {
    outline:none;
    border:none;
}
sup {vertical-align: text-top;}
sub {vertical-align: text-bottom;}
abbr, acronym {
    border-bottom: .1em dotted;
    cursor: help;
}
.clearfix {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
/* -----------------------
Page layout
----------------------- */
#container {
    width:100%;
    color:#333;
    background:#fff;
}
#header {
    height:60px;
    padding:10px;
    color:#333;
    background:#f0cc36 url(bg-header.gif) top repeat-x;
    border-bottom:1px solid #a7a7a7;
    border-top:2px solid #f7a14e;
}
#navbar {
    height:21px;
    padding:5px;
    color:#333;
    background:#fff url(bg-navbar.gif) top repeat-x;
    border-bottom:1px solid #d3d3d3;
    border-top:1px solid #fff;
}
#main {
    padding:10px;
    color:#333;
    background:#fff;
    border-bottom:1px solid #dadada;
}
#footer {
    padding:10px;
    font-size:0.8em;
    color:#333;
    background:#f6f6f6;
    border-top:1px solid #fff;
}
/* ----------------------------
Fonts
---------------------------- */
h1, h2, h3, h4, h5, h6 {color:#eb6f00;}
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }
p {
    font-size: 1em;
    margin:0 0 10px;
    line-height: 1.4em;
}
p.addedby {
    font-size: 0.8em;
}
ul, ol, dl {
    list-style-position:inside;
    margin:15px;
}
ul ul, ul ol, ul dl, ol ol, ol ul, ol dl, dl dl, dl ol, dl ul {
    margin:0 0 0 15px;
}
li {
    margin:0 0 3px;
}

/* Custom Links */
a[target='_blank'] {
    background: url(icon-blank.gif) right top no-repeat;
    padding-right: 13px;
}
a[href ^= "mailto:"] {
    background: url(icon-mailto.gif) right top no-repeat;
    padding-right: 13px;
}

/*** HEADER ***/
.wikkidlogo {
    float:left;
    display:inline;
    width:181px;
    height:60px;
    background: url(logo.png) center center no-repeat;
    text-indent: -300px;
}
.wikkidlogo a {
    display:block;
    line-height:60px;
    color:#000;
    text-decoration:none;
    font-size:1.6em;
}
#login, #logged {
    float:right;
    width:350px;
    color:#b85d04;
    text-align:right;
}
#login a, #login a:link, #login a:hover, #login a:visited {
    color:#b85d04;
    text-decoration:none;
    font-weight:bold;
}
#login a:hover {
    text-decoration:underline;
}
#login img {
    vertical-align:middle;
}
.user-thumbnail {
    float:right;
    display:inline;
    width:50px;
    height:50px;
    margin:0 0 0 10px;
    border:1px solid #f7b558;
}
#logged span {
    color:#000;
    font-size: 0.8em;
}
#logged span a {
    color:#000;
}

/*** NAVBAR ***/
.breadcrumbs {
    padding: 4px 0;
    font-size: 0.8em;
}
.breadcrumbs a, .breadcrumbs a:link, .breadcrumbs a:visited, .breadcrumbs a:hover {
    color:#333;
}
.breadcrumbs a:hover {
    color:#1a7bbe;
}
#navbar ul {
    float:right;
    margin:0;
    padding:0;
}
#navbar li {
    float:left;
    display:inline;
    padding-top:3px;
}
#navbar li:last-child {
    padding:0;
    margin:0 0 0 10px;
}
input.finder {
    width:160px;
    font-size: 1em;
    color:#000;
    background:#fff;
    margin:0;
    padding:2px;
    border-top:solid 1px #737373;
    border-right:solid 1px #b6b6b6;
    border-bottom:solid 1px #dbdbdb;
    border-left:solid 1px #737373;
}
#navbar li a img {
    vertical-align: top;
}
#navbar li a, #navbar li a:link, #navbar li a:hover {
    float:left;
    display:inline;
    color:#1a7bbe;
    text-decoration:none;
    font-weight:bold;
    padding:0 10px;
    border-right:1px solid #ccc;
}
#navbar li a:hover {
    text-decoration:underline;
}

/*** table of contents ***/
#table-of-contents {
    float:right;
    display:inline;
    width:25%;
    color:#333;
    background:#f9f9f9;
    border:1px solid #e4e3e3;
    margin:0 0 10px 10px;
}
#table-of-contents h2 {
    font-size: 1.2em;
    font-weight:normal;
    color:#484848;
    padding:5px 10px;
    margin:0 0 10px;
    border-bottom:1px solid #e4e3e3;
}
#table-of-contents ol {
    margin:0 10px 10px 10px;
}
#table-of-contents li {
    margin:0 0 5px;
}
